
    <div id="web3-auth-block">
        <div>
            <button type="button" class="button--primary js-form-submit form-submit" disabled id="button-connect">
                Connect Wallet (Unsupported)
            </button>
            <div id="div-error-connect" class="hidden"></div>
        </div>

        <hr/>

        <section id="section-connected" class="hidden">
            <h2 id="wallet-connection">Wallet Connection</h2>

            <p>If you're seeing this then your wallet is connected.</p>

            <div>
                <button type="button" class="button--primary js-form-submit form-submit" id="button-disconnect">
                    Disconnect*
                </button>
                <p>
                    <small>
                        *Remember you're not really disconnecting unless the wallet removes the website from Connected Sites.
                    </small>
                </p>
            </div>

            <div>
                <label>Wallet Connected</label>
                <code>
                    <pre id="pre-wallet-address">&nbsp;</pre>
                </code>
            </div>
            
            <h2 id="wallet-network">Wallet Network</h2>

            <p>Here we'll make sure to switch networks to <span class="chain-name"></span>.</p>
            
            <div>
                <label>Network</label>
                <code>
                    <pre id="pre-wallet-network">&nbsp;</pre>
                </code>
            </div>

            <div>
                <button type="button" class="button--primary js-form-submit form-submit hidden" id="button-network"">
                    Switch Network To &nbsp;<span class="chain-name"></span>
                </button>
            </div>

            <div>
                <button type="button" class="button--primary js-form-submit form-submit hidden" id="button-add-network">
                    Add this network: &nbsp;<span class="chain-name"></span>
                </button>
            </div>

            
            <div id="div-error-network">Please switch to <span class="chain-name"></span>. Currently on <span></span>.</div>







            <hr class="border-zinc-700 mb-8" />
        </section>


    </div>